#calendar {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#calendar__top {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#calendar__top__name {
    font-size: 30px;
}

#calendar__top__add {
    margin-left: auto;
}
