#calendar {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#calendar__top {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#calendar__top__name {
    font-size: 30px;
}

#calendar__top__add {
    margin-left: auto;
}

#calendar__table {
    width: 80%;
    margin-bottom: 50px;
}

.calendar__table__time-column {
    width: 9%;
    text-align: center;
}

.calendar__table__day-column {
    width: 13%;
    text-align: center;
}
