#calendar {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar__top {
    width: 80%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#calendar__top__name {
    font-size: 30px;
}

#calendar__top__add {
    margin-left: auto;
}

.calendar__table {
    width: 80%;
    height: 70%;

    overflow: auto;
}

.calendar__table__time-column {
    width: 9%;
    text-align: center;
}

.calendar__table__day-column {
    width: 13%;
    text-align: center;
}
