.Header {
    width: 100vw;
    height: 50px;
    background: #222222;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
}

#header__title {
    font-size: 20px;
    color: #FAFAFA;

    margin-left: 30px;
}
